*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #333;
}


.form{
    background-color: lightcoral;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 1.5em;

    position: relative;
    border: solid 1px black;
    box-shadow: 5px 5px 5px rgb(255 0 0 / 40%);
}

.container{
    display: inline-block;
    width: 80%;
}

.task{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: .5em;
    border-radius: 5px;
}

.color{
    margin-right: 150px;
    width: 150px;
    
    margin-bottom: 10px;
}

.fas{
    position: absolute;
    cursor: pointer;
    font-size: 3rem;

    top: 30%;
    right: 10%;
}

.fas:hover{
    color: rgb(25, 68, 160);
    box-shadow: 5px 5px 5px;
}

/* List */

.list{
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    /* padding: 25px 50px; */
    font-size: 1em;
}

.item{
    /* position: relative; */
    background-color: khaki;
    list-style: none;
    width: 80vw;
    /* height: 70px; */
    /* padding-top: 1.5rem; */
    /* padding-left: 1rem; */
    padding: .5em 1em;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
    user-select: none;

    border: solid 1px black;
}


.msj{
    display: inline-block;
    width: 65%;
    /* margin-right: 1vw; */
    font-size: 1.5vw;
    text-align: center;
}

.reloj{
    width: 20%;
    margin-right: 3vw;
    font-size: 1.5vw;
}

.reloj__seconds{
    color: red;
}

.far{
    /* position: absolute; */
    display: inline-block;
    /* width: 10%; */
    font-size: 2rem;
    cursor: pointer;
    /* right: 1%;
    top: 25%; */
}

.far:hover{
    color: red;
}

.msj, .reloj, .far{
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------- */

.text{
    font-family: sans-serif;
    background-color: rgba(244, 165, 96, 0.521);
    position: absolute;
    top: 5vh;
    z-index: 10;
    color: red;
    width: 100%;
    margin: .2em 0;
    text-align: center;
    font-size: 10vh;
    /* height: .2em; */
}

/* ---------------------------------------------------- */

@media (max-width: 768px){

    .msj, .reloj, .far{
        margin: 0;
    }

    .item{
        width: 95vw;
        padding: .3em;
    }

    .msj, .reloj{
        margin-right: 5px;
    }

    .msj{
        /* background-color: rebeccapurple; */
        font-size: .6em;
    }
    .reloj{
        /* background-color: rosybrown; */
        font-size: .5em;
    }

    .far{
        /* background-color: sandybrown; */
        font-size: 1.3rem;
    }
}

