*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #333;
}


.form{
    background-color: lightcoral;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 25px 50px;

    position: relative;
    border: solid 1px black;
    box-shadow: 5px 5px 5px rgb(255 0 0 / 40%);
}

.container{
    display: inline-block;
    width: 80%;
}

.task{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: .5em;
    border-radius: 5px;
}

.color{
    margin-right: 150px;
    width: 150px;
    
    margin-bottom: 10px;
}

.fas{
    position: absolute;
    cursor: pointer;
    font-size: 3rem;

    top: 30%;
    right: 10%;
}

.fas:hover{
    color: rgb(25, 68, 160);
    box-shadow: 5px 5px 5px;
}

/* List */

.list{
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px;
}

.item{
    position: relative;
    background-color: khaki;
    list-style: none;
    width: 80vw;
    height: 70px;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
    user-select: none;

    border: solid 1px black;
}


.msj{
    display: inline-block;
    width: 65%;
    margin-right: 1vw;
    font-size: 1.5vw;
}

.reloj{
    width: 20%;
    margin-right: .5vw;
    font-size: 1.5vw;
}

.reloj__seconds{
    color: red;
}

.far{
    position: absolute;
    display: inline-block;
    width: 10%;
    font-size: 2rem;
    cursor: pointer;
    right: 1%;
    top: 25%;
}

.far:hover{
    color: red;
}

/* ------------------------------------------------------------------------------------------------------------- */

.text{
    color: red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vw;
    height: 4vh;
}